main {
 
  padding: 1.5rem 1rem;
  
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;

}

.tabelas-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}


.titulo-pagina {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

.icon-container {
  background-color: #f59e0b26;
  border: 1px solid #f59e0b4d;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: var(--radius-button);
}

.titulo-pagina-text {
  flex-direction: column;
  text-align: left;
}

.titulo-pagina-text > h1 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.titulo-pagina-text > p {
  font-size: 12px;
  color: rgb(161, 161, 170);
}

/*Frete container*/

.frete-container-top {
  padding: .75rem 1rem;
  border-top-left-radius: var(--radius-button);
  border-top-right-radius: var(--radius-button);

  background-color: rgb(24 24 27 );
  background-image: linear-gradient(to right, rgb(245 158 11 / .15), rgba(245, 159, 11, 0));
  
  border: 1px solid rgb(39, 39, 42);
}

.frete-container-top > h2 {
  font-size: 14px;
  font-weight: 700;
  color: rgb(252, 211, 77);
}

.frete-container-top > p {
  font-size: 12px;
  color: rgb(161, 161, 170);
}

/*Tabela de frete*/
.table-frete {
 background-color: rgb(24 24 27 );
 border: 1px solid rgb(39, 39, 42);

 width: 100%;
 
 display: flex;
 flex-direction: column;

 border-bottom-left-radius: var(--radius-button);
 border-bottom-right-radius: var(--radius-button);
 overflow: hidden;

}


.table-frete > thead {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: rgb(113, 113, 122);

  background-color: rgb(24 24 27 );
}

th {
  margin: 1px 0;
}

.table-frete thead tr {
  letter-spacing: .05em;
  
}

.table-frete tbody tr:nth-child(1) {
  border: 1px solid transparent;
  border-color: rgb(39, 39, 42) transparent transparent transparent;
}

.table-frete thead tr {

  padding: .5rem 1rem;  
}

.table-frete tr {
  display: flex;
  justify-content: space-between;
  
  padding: .625rem 1rem;
}



/* Cores diferentes para cada linha*/

  /* Linhas ímpares */
  .table-frete tbody tr:nth-child(odd) {
    background-color: rgb(32, 32, 36);
  }

  /* Linhas pares */
  .table-frete tbody tr:nth-child(even) {
    background-color: rgb(24 24 27 );
  }




/* Texto dentro da tabela*/
.frete-regiao {
  color:rgb(212, 212, 216);
}

.frete-preco {
  font-weight: 700;
  color: rgb(251, 191, 36);
  
}




